@import 'vars.less';

* {
    box-sizing : border-box;
}

html, body {
    background  : @color-bg;    
    color       : darken( @color-fg, 30% );
    
    font-family     : @font;
    letter-spacing  : 3px;

    height      : 100%;
    margin      : 0;
    padding     : 0;
}

button {
    font-size   : 1.5em;
    padding     : 0.5em;
}

code {
    color       : @color-fg;
    font-weight : bold;
    background  : lighten(@color-bg, 20%);
    padding     : .3em;
}

.home-h1-highlight {
    color       : @color-highlight;
    animation   : blinker 3s linear infinite;
}
@keyframes blinker {
    50% { color : tomato; }
}

.highlight {
    background  : @color-highlight;
    color       : @color-bg;
}

.pane {
    display : none;
}

.pane#shooty-shoot {
    flex-direction  : column;
    height          : 100%;
}

.pane#home,
.pane#lose,
.pane#win, {
    flex-direction  : column;
    align-items     : center;
    height          : 100%;
    justify-content : center;

    button {
        cursor : pointer;
    }
}

#score {
    display         : flex;
    justify-content : space-between;

    height : @score-board-height;

    strong {
        color : @color-fg;
    }
}

canvas {
    background  : @color-canvas-bg;
    width : calc(~"100vmin - "@score-board-height);
    height : calc(~"100vmin - "@score-board-height);
    margin: 0 auto;
}